[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.2"
django-rest-framework = "*"
markdown = "*"
django-filter = "*"
pillow = "*"
psycopg2 = "*"
coreapi = "*"
django-guardian = "*"
django-cors-headers = "*"
djangorestframework-jwt = "*"

[requires]
python_version = "3.6"
